body{
    display: flex;
    flex-direction: column;
    gap: 5em;
    header{
        background-color: darkgreen;
        padding: 1em;
        * {
            color: white;
        }
    }
    footer{
        background-color: cadetblue;
        padding: 1em;
        form, article{
            display: flex;
            flex-direction: column;
        }
    }
}


.sound-clips{
    padding-block: 2em;
}


.audio-container{
    display: flex;
}