/* ////////////// */
/* MARK: Basics 
/* ////////////// */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-family: sans-serif;
    &:focus{
        border: solid lime .4em;
    }
}

h1{
    font-size: 3em;
}

body{
    display: flex;
    flex-direction: column;
    gap: 5em;
    header{
        background-color: rgb(229, 255, 0);
        padding: 1em;
        border-bottom: solid 8px red;
        width: 100%;
        ul{
            list-style-position: inside;
            input{
                width: 100%;
            }
        }
        * {
            color: black;
        }
    }
    main{
        padding: 1em;
    }
    footer{
        background-color: rgb(0, 26, 255);
        padding: 1em;
        border-top: solid 8px red;
        form, article{
            display: flex;
            flex-direction: column;
        }
    }
}

article:not(footer .audio-container){
    padding-block: .5em;
    margin-block: 1em;
    border: solid 8px red;
    &:focus-within {
        outline: .4em solid lime;
        outline-offset: 4px;
    }
}

li:has(.audio-container){
    margin-bottom: 1em;
    border: solid 8px red;
}

.record{
    margin-bottom: 1em;
}

.delete-all{
    display: none;
}

/* ////////////// */
/* MARK: audio controls
/* ////////////// */

/* https://stackoverflow.com/questions/59024693/style-the-audio-html-tag */
audio{
    &::-webkit-media-controls-mute-button,
    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-volume-slider-container{
        display: none;
    }
}

