/* ////////////// */
/* MARK: Basics 
/* ////////////// */
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 5em;
    header{
        background-color: darkgreen;
        padding: 1em;
        ul{
            list-style-position: inside;
        }
        * {
            color: white;
        }
    }
    main{
        padding: 1em;
    }
    footer{
        background-color: cadetblue;
        padding: 1em;
        form, article{
            display: flex;
            flex-direction: column;
        }
    }
}


.sound-clips{
    padding-block: 2em;
}


.audio-container{
    display: flex;
}


article{
    padding-bottom: 2em;
}

/* ////////////// */
/* MARK: audio controls
/* ////////////// */

/* https://stackoverflow.com/questions/59024693/style-the-audio-html-tag */
audio{
    &::-webkit-media-controls-mute-button{
        display: none;
    }
}

